
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #fd5d65; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1538525876/slide-banner-011_kxw2sk.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538527322/lead1_zopppx.png" width="200px" height="200px" class="img-fluid">
              </div>
              <div class="col-lg-10">
                <br><br>
                <h3 style="color: #ffffff;">Joseph Anderson</h3>
                <p style="color: #ffffff; font-weight: 300;">President and CEO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;" class="js-reveal">
         About</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; line-height: 25px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Joseph Anderson, president and CEO of “Be a Blessing Mission”, a growing humanitarian organization. Be a Blessing Mission strives to meet the physical and spiritual needs of the disadvantaged in the US and African countries. Joseph also pastors International Central Gospel Church(ICGC) in Virginia Beach.  ICGC prides itself as a religious organization that has been mandated by God to influence the Hampton Roads area with its rich Christian values. In addition, Joseph leads Trust Express Services, a reliable public transportation and car sales company in Ghana (founder and CEO).
            <br><br>
          As a pastor of ICGC, Rev. Joseph Anderson, demonstrated that a twenty-first century church can meet the physical and spiritual needs of its congregants/community. Through his exceptional forward-looking leadership approach to meet basic human needs among the parishioners, Joseph established a Welfare Ministry in his local church. Through this ministry the basic human needs of the poor and the needy are addressed. Since the inception of ICGC - Virginia Beach in 2014, this initiative has helped many avoid homelessness, hunger, and divorce. In addition to the endeavors mentioned above, Rev. Joseph Anderson continues to offer chaplain services to some of the homeless shelters and hospitals in the Hampton Roads area in Virginia.
          <br><br>
          Joseph Anderson proudly served in the United States Navy from 2006 -2015. Although Joseph Anderson was not a chaplain nor Religious Specialist, his passion to help the underprivileged motivated him to volunteer to support the various Command Chaplains. He contributed by helping multiple chaplain commands mobilize sailors to offer humanitarian projects both in the United States and twenty-five countries during military deployments. As a Ship Serviceman, Joseph’s attention to details, ability to meet deadlines, and firm supporter of the Navy Core Values: Honor, Courage, commitment—helped his division to pass every major inspection in the Navy. Joseph’s achievements in the Navy includes the attainment of four Navy Achievement Medals(NAM), and two Good Conduct Medals. 
          <br><br>
          Pastor Joseph, as he is affectionately called, often describes himself as a “corn who has gone through the mill but fortunately came out unmilled”. Therefore, Joseph sees himself as a man possessing the necessary skill sets needed to understand and address what it means to live in abject poverty (because he has gone through it). Furthermore, Joseph understands the worries and frustrations of school dropouts. Again because he experienced that but luckily came out of the mill without getting milled. Because of his many unpalatable experiences, which nearly prevented him from achieving what God destined him to offer to the world, Joseph has therefore decided to use his position as Pastor/Chaplain and CEO to fight tirelessly to support the marginalized in the United States and African Countries. Since Rev. Joseph Anderson immigrated to the United States, he has sponsored about fifty people in Ghana by generously funding part of their educational expenses and providing a small working capital to some widows. Rev. Joseph Anderson has identified the needs of the underprivileged in African countries and now invites you to join him and his board to help make a significant difference in the lives of the needy!
          <br><br>
          Joseph Anderson holds a Master of Divinity, Chaplaincy concentration, from Regent University, a bachelor of Arts in Business Administration from Saint Leo University. He lives in Virginia Beach with his wife, Joyce, and their two children, Joseph Jr. and Jethro. 
           </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>
