
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #fd5d65; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1538525876/slide-banner-011_kxw2sk.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538528493/lead4_yp8jrk.png" width="200px" height="200px" class="img-fluid">
              </div>
              <div class="col-lg-10">
                <br><br>
                <h3 style="color: #ffffff;">Daniel Ogunniyi</h3>
                <p style="color: #ffffff; font-weight: 300;">Board Member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;" class="js-reveal">
         About</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; line-height: 25px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Daniel Ogunniyi is a student of American Military University, pursuing the Bachelor of Arts in Criminal Justice Degree. He also had a Diploma in Biology and Primary Education at Nigerian College of Education. He is currently serving in the United States Navy. Daniel’s professional achievements include the award of Junior Sailor of year at USS Whidbey Island (LSD – 41) in 2015/2016, a feat which is a true testament of his dependability, flexibility and commitment to the core values of the United States Navy. Over the years, Daniel has immensely contributed to the community development in Igbaja, Nigeria. Among other community involvement projects, he sponsored the construction of clean driving water in his village and distributed food for the needy; and fund the vocational education of some of the poor people in his village.<br><br>
Daniel is married to his beautiful wife Hannah and their marriage is blessed with one wonderful boy, David. The Ogunniyi family resides in Norfolk, Virginia.
           </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>
