
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #fd5d65; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1538525876/slide-banner-011_kxw2sk.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538528491/lead6_mxgtor.png" width="200px" height="200px" class="img-fluid">
              </div>
              <div class="col-lg-10">
                <br><br>
                <h3 style="color: #ffffff;">Laurenda Kuffour</h3>
                <p style="color: #ffffff; font-weight: 300;">Board Member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;" class="js-reveal">
         About</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; line-height: 25px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Laurenda Kuffour is an author, chaplain, motivational speaker and missionary and holds an MBA from Montclair State University in the USA. She is a graduate of Kingdom School of Ministries (Trimm Institute of Global Leaders) and is working towards her Master of Divinity. She has been in ministry for over six years with interest in missions, motivational speaking, writing, and propagating the power of God through regeneration in Christ.<br><br> 
She is the founder and president of Laurenda Kuffour Ministries (LKM). Laurenda Kuffour Ministries was established in New Jersey in 2012 and in Ghana West Africa in 2014. LKM is registered as a not for profit organization in New Jersey under the Agency, World Outreach Ministries and it is licensed by the National Association of Christian Ministers. The core mission of LKM is to testify Christ through strategy, training, demonstration and propagation. Among its objectives is giving strategies to governments and institutions for women rehabilitation as well as prayer and media propagation.  Since its inception, LKM has formed campus clubs in Africa and in the USA usually with a focus to train Christian leaders and create a practical avenue for them to express and discover their God given abilities.  A-Will movement was a campus ministry, training and evangelism mission in Ghana West Africa. Throne of Grace Campus Ministries was founded in the USA to bring upcoming women leaders to the throne room of God for divine covering and empowerment as they discover their unique ministries. The student organization raises young women with spiritual and great leadership potential, through prayer, coaching and educational support. LKM also hosted the annual women’s conference “The Broken Woman, it is Time to Shine Again” in Ghana and debated various Christian topics on television and radio shows. She has been engaged in media prayer, and proclamation.<br><br>  
Her ministry and works is currently in the USA where she designs kingdom based strategic counsel for faith based businesses, churches, ministries, governments and individuals. She joins us with a wealth of knowledge in business, campus evangelism and women empowerment/rehabilitation.
           </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>
