
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #fd5d65; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(http://www.4evergrateful.org/assets/img/slide-banner-01.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <h1 style="font-family: 'Raleway', sans-serif;" class="aduinsh1">
              Our Leadership
            </h1>
           <!--  <p style="" class="aduinsp1">
              To be the best in business education and business research in Africa
            </p> -->
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;" class="js-reveal">
         Board of Directors</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; line-height: 25px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Be a Blessing Mission is manned by a well experienced board versatile in humanitarian and social issues. Our Board are listed below: 
           </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-3 col-sm-12">
                <div class="profileholder">
                    <p style="text-align: center;">
                        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538524806/lead1_moaujn.jpg" class="img-fluid" style="border-radius: 50%;">
                          </p>
                      <p style="text-align: center; margin-top: 12px;">
                      <span style="font-weight: 500;">Joseph Anderson</span><br>
                      <span style="font-weight: 300; font-size: 14px;">President and CEO</span><br>
                      <span><a href="/boardpresident" style="color: #fd5d65; font-size: 12px; font-weight: 300;">Read More</a></span>
                      </p>  
                </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                      <div class="profileholder">
                            <p style="text-align: center;">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1534594985/Untitled-5_0014_grace_hmd2dr.png" class="img-fluid" style="border-radius: 50%;">
                          </p>
                            <p style="text-align: center; margin-top: 12px;">
                            <span style="font-weight: 500;">Nakesha Ewusi</span><br>
                            <span style="font-weight: 300; font-size: 14px;">Secretary</span><br>
                            <span><a href="/boardsecretary" style="color: #fd5d65; font-size: 12px; font-weight: 300;">Read More</a></span>
                          </p>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                      <div class="profileholder">
                            <p style="text-align: center;">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538524806/lead5_c7l5nt.jpg" class="img-fluid" style="border-radius: 50%;">
                          </p>
                            <p style="text-align: center; margin-top: 12px;">
                            <span style="font-weight: 500;">Yvonne Dorcas Baku</span><br>
                            <span style="font-weight: 300; font-size: 14px;">Treasurer</span><br>
                            <span><a href="/boardtreasurer" style="color: #fd5d65; font-size: 12px; font-weight: 300;">Read More</a></span>
                          </p>
                      </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
              <div class="col-lg-3 col-sm-12">
                      <div class="profileholder">
                            <p style="text-align: center;">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538524805/lead2_my5x0k.jpg" class="img-fluid" style="border-radius: 50%;">
                          </p>
                            <p style="text-align: center; margin-top: 12px;">
                            <span style="font-weight: 500;">Piyabalo Padaro</span><br>
                            <span style="font-weight: 300; font-size: 14px;">Board Member</span><br>
                            <span><a href="/boardmember1" style="color: #fd5d65; font-size: 12px; font-weight: 300;">Read More</a></span>
                          </p>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                      <div class="profileholder">
                            <p style="text-align: center;">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538524805/lead4_nsjpnk.jpg" class="img-fluid" style="border-radius: 50%;">
                          </p>
                            <p style="text-align: center; margin-top: 12px;">
                            <span style="font-weight: 500;">Daniel Ogunniyi</span><br>
                            <span style="font-weight: 300; font-size: 14px;">Board Member</span><br>
                            <span><a href="/boardmember2" style="color: #fd5d65; font-size: 12px; font-weight: 300;">Read More</a></span>
                          </p>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                      <div class="profileholder">
                            <p style="text-align: center;">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538524805/lead3_ejpuyr.jpg" class="img-fluid" style="border-radius: 50%;">
                          </p>
                            <p style="text-align: center; margin-top: 12px;">
                            <span style="font-weight: 500;">Kofi Gyau</span><br>
                            <span style="font-weight: 300; font-size: 14px;">Board Member</span><br>
                            <span><a href="/boardmember3" style="color: #fd5d65; font-size: 12px; font-weight: 300;">Read More</a></span>
                          </p>
                      </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                      <div class="profileholder">
                            <p style="text-align: center;">
                            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538524805/lead6_xtqoci.jpg" class="img-fluid" style="border-radius: 50%;">
                          </p>
                            <p style="text-align: center; margin-top: 12px;">
                            <span style="font-weight: 500;">Laurenda Kuffour</span><br>
                            <span style="font-weight: 300; font-size: 14px;">Board Member</span><br>
                            <span><a href="/boardmember4" style="color: #fd5d65; font-size: 12px; font-weight: 300;">Read More</a></span>
                          </p>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
