
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #fd5d65; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1538525876/slide-banner-011_kxw2sk.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538528271/leadnakeesha_xhydra.png" width="200px" height="200px" class="img-fluid">
              </div>
              <div class="col-lg-10">
                <br><br>
                <h3 style="color: #ffffff;">Yvonne Dorcas Baku</h3>
                <p style="color: #ffffff; font-weight: 300;">Treasurer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
            <!--  <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;" class="js-reveal">
         About</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; line-height: 25px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Yvonne has always had the love to be an answer to a need, show compassion to the less privilege and be a true example of a follower of Jesus to the world through what she does. Yvonne couldn’t be any happier than be a part of this greater Cause; Be a Blessing Missions. Yvonne looks forward to serving the needs as she volunteers her time and work diligently as a treasurer of the Mission. Yvonne is excited and knows there’s a great light at the end of the Tunnel and would love you to be a part. Yvonne is an enthusiastic individual that started out as a Brand Marketing Strategist working with CUTCO Cutlery. Being her First job in USA 2009 as solopreneurs she grew their personal and professional brands, human-to-human. After spending 6 months working and marketing for multimillion dollar brands and startups, Yvonne knows what truly drives conversions, sold-out launches and New York Times interviews—and it’s not mastering the marketing flavor of the week. It’s how well you connect with the heart-beating people you’re trying to help and communicate your understanding back to them.<br><br>
           Yvonne has evolved from that knowledge into the very heart of Healthcare, where she touches both the physical, spiritual, emotional and psychological needs of life. Her own desire to be a solution to a need has motivated her to go into humanitarian work landing her second job in Regency Columbia Village as a Care giver for the elderly population for 2 years from 2009 to 2011. In addition to her extensive marketing experience, Yvonne is a trained Certified Nurse Aide, Certified Central Sterile Tech, Medication Aide, CPR and First Aid, Culinary Specialist and Ongoing Training in Occupational Therapy Assistant. Yvonne holds a high school diploma, Certificate in Nurse Aide from Idaho, Central Sterile Technician from New York, Culinary Specialist from the Navy in Virginia and Ongoing Associate of Science in Occupational Therapy Assistant from Tidewater Community college in Virginia Beach.<br><br>
            Yvonne has engaged in voluntary work at the Idaho veteran Home in Boise, making sure their daily needs are met through assisting them with Activities of daily living. She volunteered at Judeo Christian center; Working with the soup kitchen to get meal ready to feed the homeless. Toys for tot while in the navy to help distribute toys and gifts to less privileged kids; Lake Taylor Transitional care hospital and Sentara Hand therapy in Norfolk and Virginia Beach to assist with the healthcare team deliver holistic care to patient suffering from chronic disease to just needing to regain strength to become active in life. This approach focused on therapeutic skills being taught to retrain patients to live independently again after injury.<br><br>
          Yvonne is Currently Married to Mr. Harry Kofi Baku. She holds a position as Member of the Board of Directors of Be a Blessing Missions and Nazareth Healing Complex. She is a Navy Veteran after Serving in the Navy for 4 years; a member of American Occupational Therapy Association and World Federation of Occupational Therapy and Active member of Student Occupational Therapy Association which is ongoing.
           </p> -->
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>
