
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #fd5d65; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(https://res.cloudinary.com/nikasemo/image/upload/v1538525876/slide-banner-011_kxw2sk.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1538528492/lead2_s189kq.png" width="200px" height="200px" class="img-fluid">
              </div>
              <div class="col-lg-10">
                <br><br>
                <h3 style="color: #ffffff;">Piyabalo Padaro</h3>
                <p style="color: #ffffff; font-weight: 300;">Board Member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;" class="js-reveal">
         About</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; line-height: 25px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           Piyabalo Padaro, Board of Directors “Be a Blessing Mission”, a growing humanitarian organization. Be a Blessing Mission strives to meet the physical and spiritual needs of the disadvantaged in the US and African countries. Piyabalo is currently serving in the United States Navy as a Chief Logistics Specialist. He joined the Navy on 28 of October 1999. He is planning to retire in November 2020 after 21 years 1 month of service. 
            <br><br>
            As a Chief Logistics Specialist in the United States Navy, Piyabalo has over 19 years of professional experience in warehousing, customer service, inventory management, financial, hospital material management, and purchasing in various work environments to include US Naval vessels, Navy Aviation Squadrons, shore and overseas installations. Exceptional knowledge, training, and practical experience with various computerized data base for tracking, ordering, receiving, and reporting of materials, supplies and shipments. Approving Official for the government purchase card which included the supervision of purchases or transactions processed to negotiate and award contracts pertaining to the procurement of material, equipment, and other supplies (such as acute care hospital materials) related to the mission of various work centers. Effective in the reconciling of financial records and payments using the navy automated systems. Prepared and obtained successful recognition for Purchase Card audits, and other Logistics and financial audits.
            <br><br>
            Piyabalo Padaro leads 217 Sailors in the requisitioning, purchasing, and expediting of 2,038 mission critical components supporting 17 Aviation maintenance work centers in the maintenance and upkeep of 43 F/A-18 Aircrafts. Accountable for 212 Aviation Materials line items Supply Locker valued at $251M.  He proudly manages shipments of 391 requisitions valued at $1.5 million to 5 separate site locations, providing lateral support for 19 F/A-18 PMI aircrafts. Manages the Material Control and management Divisions which results in the Command's completion of 1,465 flight hours and 965 sorties, qualifying 25 pilots for fleet replacement every year. Piyabalo’s achievements in the Navy includes the attainment of 1 Navy Commendation Medal (COM), 5 Navy Achievement Medals(NAM), and 6 Good Conduct Medals. 
            <br><br>
             Piyabalo who was born in one of the poorest cities in Togo knew that the education was the cornerstone of all prosperities. He was fortunate to be granted the U.S Visa through the Diversity Lottery Program which requires at least a high school diploma. Since 1999, Piyabalo shipped more than 1000 pounds of goods and clothes to support three orphans’ organizations in Togo. He also supported these organizations by sending them more than $3000 by MoneyGram. 
            <br><br>
            Piyabalo Padaro is currently working on his Doctor of Business Administration Degree which he started in January 2017 at Capella University. His anticipated graduation date is 14 June 2019. He holds a Master of Science, Logistics and Supply Chain Management, from Embry Riddle Aeronautical University, a Bachelor of Arts in Business Administration from Saint Leo University. He lives in Virginia Beach with his wife, Felicia, and their five children, Joseph, Josephine, Aquita (Triplets), Blessing, and Daniella.
           </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>
