<style type="text/css">


  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  

.carousel {
position: relative;
top: 0px;
font-family: 'Raleway', sans-serif;
}



    .carousel-item{
      min-height:600px;
      background:no-repeat center center scroll;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}

    .carousel-inner {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 150px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  color: #fff;
  text-align: center;
}

.capttxt {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Exo 2', sans-serif;
  text-align: right;
}

.divederlined {
  height: 1.5px;
  background-color: #fd5d65; 
}

.divederlineder {
  height: 1.5px;
  background-color: #ffffff; 
}

.btnhomeslider {
  background-color: #fd5d65;
  border: 1.5px solid #fd5d65;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

.btnhomeslider:hover {
  background-color: transparent;
  border: 1.5px solid #fd5d65;
  border-radius: 10px;
  color: #fd5d65;
  font-size: 18px;
}

.btnhomeslider:active {
  background-color: transparent;
  border: 1.5px solid #fd5d65;
  border-radius: 10px;
  color: #fd5d65;
  font-size: 18px;
}

.btnhomeslider1 {
  background-color: transparent;
  border: 1.5px solid #fd5d65;
  border-radius: 10px;
  color: #fd5d65;
  font-size: 18px;
}

.btnhomeslider1:hover {
  background-color: #fd5d65;
  border: 1.5px solid #fd5d65;
  border-radius: 10px;
  color: white;
  font-size: 18px;;
}

.btnhomeslider1:active {
  background-color: #fd5d65;
  border: 1.5px solid #fd5d65;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

zoomin img {
  height: 110px;
  width: 110px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.zoomin img:hover {
  width: 180px;
  height: 180px;
}

.image-box{
  width:100%;
  overflow:hidden;
}
.image {
  width:100%;
  height:400px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(http://www.howmanypeopledied.net/wp-content/uploads/2012/04/hungry-people-in-Africa-02.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
} 

.image1 {
  width:100%;
  height:400px;
  
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(http://cdn.24.co.za/files/Cms/General/d/7461/0cb01837ee5d41fba4950cb977621d9f.jpg);
  background-position:center;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
} 
.image1:hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */ 
}

.housedescribe{
  text-align: center;
}

.housedescribe a{
  text-align: center; 
  position:relative; 
  top: 200px;
  font-size: 18px;
  color: white;
  font-family: 'Bree Serif', serif;
  letter-spacing: 2px;
  border: 3px solid #ffffff;
  padding: 15px;
}

.housedescribe a:hover{
  text-align: center; 
  position:relative; 
  top: 200px;
  font-size: 18px;
  color: white;
  font-family: 'Bree Serif', serif;
  letter-spacing: 2px;
  border: 3px solid #fd5d65;
  padding: 15px;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 90px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  color: #fff;
  text-align: center;
}

}

</style>


<section class="homeslider">
   <header>

 
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item active" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.1)), url('http://www.4evergrateful.org/assets/img/slide-banner-01.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block" style="background-color: rgba(255, 255, 255, 0.4); padding: 20px; border-radius: 12px;">
              <h3 class="capttxt" style="text-align: left; font-family: 'Bree Serif', serif;">Providing physical needs of the marginalized.</h3>
              <p style="font-family: 'Raleway', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">Providing for the physical needs of the marginalized and to fulfil the “GREAT COMMISSION” in the Africa continent.</p>
              <p style="text-align: left;"><a href="/whatwedo" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>

          <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.1)), url('http://www.howmanypeopledied.net/wp-content/uploads/2012/04/hungry-people-in-Africa-02.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block" style="background-color: rgba(255, 255, 255, 0.4); padding: 20px; border-radius: 12px;">
              <h3 class="capttxt" style="text-align: left; font-family: 'Bree Serif', serif;">Transforming the lives of underprivileged.</h3>
              <p style="font-family: 'Raleway', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">We are transforming the lives of underprivileged in Africa countries.</p>
              <p style="text-align: left;"><a href="/whatwedo" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.1)), url('https://muellerfreelibrary.files.wordpress.com/2013/03/book-for-africa-3.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block" style="background-color: rgba(255, 255, 255, 0.4); padding: 20px; border-radius: 12px;">
              <h3 class="capttxt" style="text-align: left; font-family: 'Bree Serif', serif;">Supporting Orphanages and child shelters.</h3>
              <p style="font-family: 'Raleway', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">Providing financial relief and support for orphaneages and child shelters</p>
              <p style="text-align: left;"><a href="/whatwedo" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>

          <!-- Slide Three - Set the background image for this slide in the line below -->
           <div class="carousel-item" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.1)), url('http://cdn.24.co.za/files/Cms/General/d/7461/0cb01837ee5d41fba4950cb977621d9f.jpg'); background-position:center;">
            <div class="carousel-caption d-md-block" style="background-color: rgba(255, 255, 255, 0.4); padding: 20px; border-radius: 12px;">
              <h3 class="capttxt" style="text-align: left; font-family: 'Bree Serif', serif;">Closing the gap between the rich and poor.</h3>
              <p style="font-family: 'Raleway', sans-serif; letter-spacing: 2px; text-shadow: 0px 4px 7px rgba(150, 150, 150, 0.65);text-align: left; font-weight: 300;">Closing the gap between the rich and the poor, by building sustainable, “financial bridges” for the needy in Africa.</p>
              <p style="text-align: left;"><a href="/whatwedo" class="btn btn-primary btn-lg btnhomeslider">Learn More</a></p>
            </div>
          </div>
         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
 </section>

 <section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Bree Serif', serif; text-align: left; color: #fd5d65; font-size: 25px;" class="js-reveal">
         Welcome to Be a Blessing Mission</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; text-align: left; color: #000000; line-height: 24px;" class="js-reveal">
           Be a Blessing Mission is a US based Non-Profit Organization established to provide for the PHYSICAL NEEDS of the underprivileged and fulfil the “GREAT COMMISSION” in the African continent.
          Be a Blessing Mission is the idea of church leaders from who from personal experiences have a deep compassion for needy youth whose educational attainment is hindered by financial constraints. Our grassroots programs include education, Children’s rights, healthcare, small business creation, emergency relief services, community development, career guidance and counselling.
          </p>
          </div>
          <div class="col-lg-3 col-sm-12">
            <img src="https://res.cloudinary.com/nikasemo/image/upload/v1536891543/bablogoit3homepage_esqrdk.png" width="200px" height="200px" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 style="font-family: 'Bree Serif', serif; text-align: center; color: #fd5d65; font-size: 25px;" class="js-reveal">
         Our Upcoming Projects</h2>
        <hr align="center" width="10%" class="divederlined">
        <br>
      </div>
    </div>
  </div>
      <div class="row no-gutters">
      <div class="col-sm-6 zoomimgbg1">
       <div class="image-box">
  <div class="image">
    <h3 class="housedescribe">
    <a href="#!" style="text-decoration:none;">The Africa Project</a>
    </h3>
  </div>
</div>
      </div>
      <div class="col-sm-6 zoomimgbg2">
       <div class="image-box">
  <div class="image1">
    <h3 class="housedescribe" style="">
    <a href="#!" target="_blank" style="text-decoration:none;">Future Today Project</a>
    </h3>
  </div>
</div>
      </div>
    </div>
  </section>

  <section class="js-reveal newsletterholder" style="padding: 40px; margin-bottom: 20px;">
       
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-md-offset-2">
        <h3 style="font-family: 'Bree Serif', serif; text-align: center; color: #fd5d65;" class="js-reveal">
      Partner with Be a Blessing Mission 
      </h3>
      <hr align="center" width="10%" class="divederlined">
       <p style="font-weight: 300; font-size: 14px; text-align: center; color: #fd5d65;" class="js-reveal">
           Ea ea labore consectetur sed irure ut eu eu. In anim deserunt et exercitation commodo.
         </p>
      <p style="text-align: center;">
        <a href="/onetimedonorhere" class="btn btn-primary btnhomeslider1">Become a Volunteer</a>
        <a href="/parttime" class="btn btn-primary btnhomeslider">Donate to projects</a>
      </p>

    </div>
    </div>
    </div>
  
</section>


