<style type="text/css">

	.homelandingsect1{
		background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.65)), url('http://www.4evergrateful.org/assets/img/slide-banner-01.jpg'); background-position:center;
		background-size: cover; 
		background-position: center center; 
		background-repeat: no-repeat;
		height: 650px;
	}

	.landrowtop{
		padding-top: 150px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.beblessedhead {
		text-align: center;
		color: white;
		font-size: 60px;
		font-family: 'Paytone One', sans-serif;
		text-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5);
	}

	.beblessedp {
		text-align: center;
		color: white;
		font-size: 18px;
		font-family: 'Josefin Slab', serif;
		font-weight: 300;
		text-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5);
	}

	.beblessedpweb {
		text-align: center;
		color: white;
		font-size: 18px;
		font-family: 'Josefin Slab', serif;
		font-weight: 600;
		text-shadow: 0px 1px 13px rgba(0, 0, 0, 0.5);
	}

</style> 



<section class="homelandingsect1">
<div class="container">
	<div class="row landrowtop">
		  <div class="col-lg-12">
		     <h2 class="beblessedhead">Be A Blessing Mission</h2>
		     <br>
		     <p class="beblessedp">Be a Blessing Mission is an NGO that focusses on bringing humanitarian help to Africa and other continents<br> that need help with respect to education, Human Rights, health and fulfilling the SDG's.</p>
		     <br>
		     <p class="beblessedpweb"><i class="fa fa-home" aria-hidden="true"></i> Website launching soon <a href="http://www.beablessing.org" style="color: white;" target="_blank">www.beablessing.org</a></p>
	      </div>
		</div>
	</div>
</section>