
<style type="text/css">

  .aboutwistech {
  } 

  .divederlined {
    height: 1.5px;
    background-color: #fd5d65; 
  }

  .divederlineder {
    height: 1.5px;
    background-color: #ffffff; 
  }

  .aduins{
 background:linear-gradient(0deg,rgba(0, 0, 0,0.3),rgba(0, 0, 0,0.3)),url(gallery/galprojonebg.jpg);
  background-position:center;
  min-height: 350px;
  padding: 50px;
}

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 60px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 55px;
}

.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}

.myscrollbtn {
    color: #ffffff;
  font-weight: 500;
  background-color: #fd5d65;
  border: 1px solid #fd5d65;
}

.myscrollbtn:hover {
    color: #ffffff;
  font-weight: 500;
  background-color: #fd5d65;
  border: 1px solid #fd5d65;
  -webkit-box-shadow: 1px 2px 5px 5px rgba(0,0,0,0.1);
-moz-box-shadow: 1px 2px 5px 5px rgba(0,0,0,0.1);
box-shadow: 1px 2px 5px 5px rgba(0,0,0,0.1);
}

.myscrollbtn:active {
    color: #ffffff;
  font-weight: 500;
  background-color: #fd5d65;
  border: 1px solid #fd5d65;
  -webkit-box-shadow: 1px 2px 5px 5px rgba(0,0,0,0.1);
-moz-box-shadow: 1px 2px 5px 5px rgba(0,0,0,0.1);
box-shadow: 1px 2px 5px 5px rgba(0,0,0,0.1);
}

.projecttitle {
    text-shadow: 1px 2px 3px #666;
    font-size: 60px;
    font-weight: 700;
}


@media only screen and (min-width : 100px) and (max-width : 600px) {

.aduinsh1 {
      text-align: center; 
      color: white; 
      position: relative; 
      top: 0px; 
      font-weight: 900;  
      text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5); 
      font-family: 'Raleway', sans-serif;
      font-size: 50px; 
      line-height: 60px;
    }

.aduinsp1 {
  text-align: center; 
  color: white; 
  position: relative; 
  top: 10px;
}

.projecttitle {
    text-shadow: 1px 2px 3px #666;
    font-size: 40px;
    font-weight: 700;
}


}

</style>

<section class="aduins">
      <div class="container">
        <div class="row" style="margin-top: 70px">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <br><br>
                <h1 style="color: #ffffff; text-align: center;" class="projecttitle">Village Outreach</h1>
                <p style="color: #ffffff; font-weight: 300; text-align: center;">A working visit to Ohiawawuo, a village in the Central Region of Ghana.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section class="py-5 aboutwistech">
      <div class="container">
       
        <div class ="row">
          <div class="col-lg-9 col-sm-12">
             <h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;" class="js-reveal">
         About Project</h2>
        <hr align="left" width="10%" class="divederlined">
           <p style="font-weight: 300; font-size: 14px; line-height: 25px; text-align: left; color: #000000; font-family: 'Exo 2', sans-serif;" class="js-reveal">
           The short mission to Ghana was the first project that we undertook as a Christian Charitable Organization. At Ghana, we were a blessing to villages like Duaboni, Mangoase, Ohiawawuo and Senya Beraku. Among other things, we were able to offer career counselling, provided some food stuffs to those who are dying of hunger and more importantly, we introduced them to Christ.<br><br>
We went there, we spoke to them and they listened to us. They also told us their problems/concerns and we listened to them. Hunger and lack of clean drinking water are their major problem. We promised to return in the future to put smiles in their faces.
           </p>
          </div>
          <div class="col-lg-3 col-sm-12">
           <!--  <img src="logowebbie.png" width="200px" height="200px" class="img-fluid"> -->
          </div>
        </div>
      </div>
    </section>

<section style="padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
 
    <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <a href="gallery/gal1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal1thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal2thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal3.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal3thumb.jpg" class="img-fluid">
            </a>
           
        </div>
        <div class="row">
             <a href="gallery/gal4.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal4thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal5.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal5thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal13.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal13thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal7.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal7thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal8.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal8thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal9.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal9thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal10.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal10thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal11.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal11thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal12.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal12thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal14.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal14thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal15.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal15thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal16.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal16thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal17.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal17thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal18.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal18thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal19.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal19thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal20.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal20thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal21.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal21thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal22.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal22thumb.jpg" class="img-fluid">
            </a>
        </div>

        <div class="row">
             <a href="gallery/gal23.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal23thumb.jpg" class="img-fluid">
            </a>
            <a href="gallery/gal24.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4" style="margin-bottom: 20px;">
                <img src="gallery/gal24thumb.jpg" class="img-fluid">
            </a>
        </div>

    </div>
</div>
<br>
<p style="text-align: center;" class="">Help support this cause by donating to Be a Blessing Mission</p>
          <p style="text-align: center; position: relative; top: 0px;">
           <a class="btn btn-lg btn-primary myscrollbtn"  target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YVJXSVJ6SPFLQ">Be a Blessing Today!</a>
         </p>

</section>

