<style type="text/css">

.contactus{
	margin-top: 100px;
}

</style>


<section class="contactus">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<br>
				<h2 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;">Our Contact</h2>
				<p style="text-align: justify;">Reach out to Be a Blessing Mission on these dedicated avenues.</p>
				<p>
                <span><i class="fa fa-phone" aria-hidden="true"></i></span><span style="font-weight: 300;"> 757-217-8836</span><br>
                <span><i class="fa fa-whatsapp" aria-hidden="true"></i></span><span style="font-weight: 300;"> 757-217-8836</span><br>
                <span><i class="fa fa-envelope" aria-hidden="true"></i></span><span style="font-weight: 300;">  beablessingm@beablessingm.org</span><br>
                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span><span style="font-weight: 300;"> 3824 Virginia Beach Blvd, Virginia Beach, Virginia 23452</span><br>
				</p>
				<p>
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d408955.77996456315!2d-76.29281508411962!3d36.79534085988782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89bac1e8fc1527a7%3A0x4161080a32e0173!2sVirginia+Beach%2C+VA%2C+USA!5e0!3m2!1sen!2sgh!4v1537722997160" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
				</p>
			</div>
			<div class="col-lg-6 col-md-12">
				<br>
				<h3 style="font-family: 'Raleway', sans-serif; text-align: left; color: #fd5d65; font-size: 25px;">Reach out to Us.</h3>

                 <%= render 'form', contact: @contact %>

			</div>
		</div>
	</div>
</section>
